<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto mx-auto">
      <h4>確認メールを再送信する</h4>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="from-group">
      <div class="row justify-content-center mt-3">
        <div class="col-md-4">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "Eメール", class: "form-control" %>
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-md-4">
          <%= f.submit '送信する', class: "form-control btn btn-orange" %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row justify-content-center mt-3">
    <div class="col-auto mx-auto">
      <%= link_to "パスワードを忘れた場合", new_user_password_path %>
    </div>
  </div>
</div>
