<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto mx-auto">
      <h3>新規アカウントを作成</h3>
    </div>
  </div>
  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="row justify-content-center mt-md-3">
      <div class="col-md-2">
        フルネーム
      </div>
      <div class="col-md-2">
        <%= f.text_field :name, autofocus: true %>
      </div>
    </div>
    <div class="row justify-content-center mt-md-3">
      <div class="col-md-2">
        ユーザーネーム
      </div>
      <div class="col-md-2">
        <%= f.text_field :user_name, autofocus: true %>
      </div>
    </div>
    <div class="row justify-content-center mt-md-3">
      <div class="col-md-2">
        電話番号<br />
        （ハイフン不要）
      </div>
      <div class="col-md-2 mt-md-2">
        <%= f.text_field :phone_number, autofocus: true %>
      </div>
    </div>
    <div class="row justify-content-center mt-md-3">
      <div class="col-md-2">
        メールアドレス
      </div>
      <div class="col-md-2">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>
    <div class="row justify-content-center mt-md-3">
      <div class="col-md-2">
        パスワード<br />
        <% if @minimum_password_length %>
          (<%= @minimum_password_length %>文字以上 )
        <% end %>
      </div>
      <div class="col-md-2 mt-md-2">
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    </div>
    <div class="row justify-content-center mt-md-3">
      <div class="col-md-2">
        パスワード<br />
        （確認用）
      </div>
      <div class="col-md-2 mt-md-2">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>
    <div class="row justify-content-center mt-md-4">
      <div class="col-auto mx-auto">
        <%= f.submit 'アカウント登録', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
  <div class="row justify-content-center mt-md-4">
    <div class="col-auto mx-auto">
      アカウントをお持ちの方は<%= link_to "こちら", new_user_session_path %>からログイン
    </div>
  </div>
</div>