<div class="container">
  <div class="row">
    <div class="col-auto mx-auto">
      <h3>アカウント一覧画面</h3>
    </div>
  </div>
  <%= search_form_for @qu do |f| %>

  <%= f.search_field :user_name_eq, placeholder: "アカウント名で検索" %>

  <%= f.submit %>
  <% end %>
  <div class="row mt-md-4">
    <div class="col-md-10 offset-md-1">
      <table class="table">
        <thead class="thead-lignt">
          <tr>
            <th></th>
            <th>ユーザーネーム</th>
            <th>投稿数</th>
            <th>フォロー数</th>
            <th>フォロワー数</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= attachment_image_tag(user, :profile_image, fallback: "no_image.jpg", size:'40x40', class: "rounded-circle" ) %>
              </td>
              <td>
                <%= link_to user_path(user.id) do %>
                  <%= user.user_name %>
                <% end %>
              </td>
              <td>
                <%= "投稿#{user.posts.count}件" %>
              </td>
              <td>
                <%= link_to user_followings_path(user.id) do %>
                  <%= "フォロー#{user.followers.count}人" %>
                <% end %>
              </td>
              <td>
                <%= link_to user_followers_path(user.id) do %>
                  <%= "フォロワー#{user.followings.count}人" %>
                <% end %>
              </td>
              <td>
                <% unless user == current_user %>
                  <% if current_user.following?(user) %>
                    <%= link_to 'フォロー外す', user_relationships_path(user), class: 'btn btn-info btn-block', method: :delete %>
                  <% else %>
                    <%= link_to 'フォローする', user_relationships_path(user), class: 'btn btn-success btn-block', method: :post %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
  </div>
</div>