<div class="container">
  <div class="row">
    <div class="col-md-3 offset-md-1">
      <%= attachment_image_tag @user, :profile_image, class:"profile_image", fallback: "no_image.jpg", size:'200x200', class: "rounded-circle"  %>
    </div>
    <div class="col-md-7">
      <h5 class="row">
        ユーザーネーム：<%= @user.user_name %>
      </h5>
      <div class="row mt-3">
        自己紹介：<%= @user.introduction %>
      </div>
      <div class="row-md-7 mt-3">
        <div class="d-flex justify-content-around">
          <div><%= "投稿#{@user.posts.count}件" %></div>
          <div>
            <%= link_to user_followings_path(@user.id) do %>
              <%= "フォロー#{@user.followers.count}人" %>
            <% end %>
          </div>
          <div>
            <%= link_to user_followers_path(@user.id) do %>
              <%= "フォロワー#{@user.followings.count}人" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-auto mx-auto">
          <% if @user == current_user %>
            <%= link_to "プロフィールを編集する", edit_user_path(@user), class: 'btn btn-success' %>
            <%= link_to "ブックマーク一覧画面へ", users_bookmark_path, class: 'btn btn-success' %>
          <% end %>
          <% unless @user == current_user %>
            <% if current_user.following?(@user) %>
              <%= link_to 'フォロー外す', user_relationships_path(@user), class: 'btn btn-info btn-block', method: :delete %>
            <% else %>
              <%= link_to 'フォローする', user_relationships_path(@user), class: 'btn btn-success btn-block', method: :post %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-deck">
      <% @posts.each do |post| %>
        <div class="col-md-3 mt-4">
          <div class="card border-light bg-light text-center">
            <div class="card-header text-muted">
              <%= post.genre %>
            </div>
            <%= link_to post_path(post.id) do %>
              <%= attachment_image_tag post, :image, class:"product_index_image" %>
            <% end %>
            <div class="card-body">
              <p class="card-text">
                <strong><%= post.product_name %></strong>
              </p>
              <div class="d-flex justify-content-around">
                <small class="favorite-btn_<%= post.id %>"><%= render "favorites/favorite-btn", post: post %></small>
                <small><%= post.post_comments.count %>コメント</small>
              </div>
            </div>
            <div class="card-footer">
              <small class="text-muted"><%= post.created_at.strftime('%Y/%m/%d') %></small>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>