<div class="main-visual">
  <div class="bg-mask">
    <div class="main-visual-content">
      <p class="main-visual-text">
        <span class="main-visual-name"><strong>君が喜ぶものを選びたい</span></br>
        ベビトピはベビー用品の口コミ投稿に</br>
        特化したSNSサイトです。</strong>
      </p>
      <!--ログインしていなければログイン・新規アカウント作成ボタンを表示-->
      <% if user_signed_in? %>
      <%else %>
        <div>
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-orange top-btn" %>
        </div>
        <div>
          <%= link_to "新規アカウント作成", new_user_registration_path, class: "btn btn-blue top-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="main-text-title">
  <P class="text-title">
    <strong>ベビトピの特徴</strong>
  </P>
</div>

<div class="main-text-body">
  <P class="text-body">商品の特徴を捉えた投稿記事</P>
  <div class="text-body-small">
    ベビー用品を検索する際に、参考になる口コミ情報が多いサイトです！</br>
    それは投稿フォームに以下の内容を設けることで投稿する人が</br>
    情報を整理しやすい内容になっているからです。</br>
    <span class="text-orange"><strong>
      ・この商品を選んだ理由</br>
      ・商品のメリット</br>
      ・商品のデメリット</br>
    </strong></span>
    このように商品の特徴を捉えた情報がすぐにわかることがベビトピの特徴です！
  </div>
</div>

<div class="main-text-title">
  <P class="text-title">
    <strong>人気投稿記事見本</strong>
  </P>
</div>

<div class="container-fluid">
  <div class="row mt-4">
    <!--いいねが一番多い記事の詳細画面を１件のみ表示-->
    <% @post.each do |top| %>
      <div class="col-md-4">
        <div class="col-auto">
          <div class="mb-3">
            <%= attachment_image_tag top.user, :profile_image, :fill, 50, 50, class:"profile_image rounded-circle", fallback: "no_image.jpg", size:'50x50' %>
            <%= top.user.user_name %>
          </div>
          <div class="mb-3"><%= attachment_image_tag top, :image, class:"product_show_image" %></div>
        </div>
      </div>

      <div class="col-md-8">
        <table class="table">
          <tr>
            <td>＜商品ジャンル＞<br />
            <%= top.genre %></td>
          </tr>
          <tr>
            <td>＜商品名＞<br />
            <%= top.product_name %></td>
          </tr>
          <tr>
            <td>＜商品の価格帯＞<br />
            <%= top.price %></td>
          </tr>
          <tr>
            <td>＜商品を選んだ理由＞<br />
            <%= top.reason_for_selection %></td>
          </tr>
          <tr>
            <td>＜商品のメリット＞<br />
            <%= top.good_point %></td>
          </tr>
          <tr>
            <td>＜商品のデメリット＞<br />
            <%= top.bad_point %></td>
          </tr>
          <tr>
            <td>＜補足情報＞<br />
            <%= top.free_text %></td>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
</div>

<div class="main-text-title">
  <P class="text-title">
    <strong>人気投稿記事一覧</strong>
  </P>
</div>

<div class="container-fluid">
  <!--一覧画面の部分テンプレート-->
  <!--いいねの多いトップ５の記事を表示-->
  <%= render "posts/form_index", posts: @posts %>

  <!--ログインしていなければログイン・新規アカウント作成ボタンを表示-->
  <% if user_signed_in? %>
  <%else %>
    <div class="row justify-content-center mb-3">
      <div class="col-auto">
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-orange top-btn" %>
      </div>
      <div class="col-auto">
        <%= link_to "新規アカウント作成", new_user_registration_path, class: "btn btn-blue top-btn" %>
      </div>
    </div>
  <% end %>
</div>