<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto mx-auto">
      <h3>ログイン画面</h3>
    </div>
  </div>
  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
    <div class="row justify-content-center mt-md-3">
      <div class="col-md-2">
        メールアドレス
      </div>
      <div class="col-md-2">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>
    <div class="row justify-content-center mt-md-3">
      <div class="col-md-2">
        パスワード
      </div>
      <div class="col-md-2">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>
    <div class="row justify-content-center mt-md-4">
      <div class="col-auto mx-auto">
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :次回からログインをスキップする場合はチェックを入れてください %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto mx-auto">
        <%= f.submit 'ログイン', class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>

<%= render "devise/shared/links" %>
