<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto mx-auto">
      <h3>新規投稿フォーム</h3>
    </div>
  </div>
  <%= form_with model: @post, local:true do |f| %>
    <div class="row justify-content-center mt-md-4">
      <div class="col-md-2">
        商品ジャンルを選択してください
      </div>
      <div class="col-md-2">
        <%= f.select :genre, Post.genres.keys, {},  {class: "form-control"} %>
      </div>
    </div>
    <div class="row justify-content-center mt-md-3">
      <div class="col-md-2">
        商品名
      </div>
      <div class="col-md-2">
        <%= f.text_field :product_name %>
      </div>
    </div>
    <div class="row justify-content-center mt-md-3">
      <div class="col-md-2">
        商品画像
      </div>
      <div class="col-md-2">
        <%= f.attachment_field :image %>
      </div>
    </div>
    <div class="row justify-content-center mt-md-3">
      <div class="col-md-2">
        商品価格帯
      </div>
      <div class="col-md-2">
        <%= f.select :price, Post.prices.keys, {},  {class: "form-control"} %>
      </div>
    </div>
    <div class="row justify-content-center mt-md-3">
      <div class="col-md-2">
        この商品を選んだ理由・使っている理由
      </div>
      <div class="col-md-2">
        <%= f.text_area :reason_for_selection %>
      </div>
    </div>
    <div class="row justify-content-center mt-md-3">
      <div class="col-md-2">
        メリット
      </div>
      <div class="col-md-2">
        <%= f.text_area :good_point %>
      </div>
    </div>
    <div class="row justify-content-center mt-md-3">
      <div class="col-md-2">
        デメリット
      </div>
      <div class="col-md-2">
        <%= f.text_area :bad_point %>
      </div>
    </div>
    <div class="row justify-content-center mt-md-3">
      <div class="col-md-2">
        補足があればご記入ください
      </div>
      <div class="col-md-2">
        <%= f.text_area :free_text %>
      </div>
    </div>
    <div class="row justify-content-center mt-md-4">
      <div class="col-auto mx-auto">
        <%= f.submit '投稿する', class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>
</div>