<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto mx-auto">
      <h3>投稿詳細画面</h3>
    </div>
  </div>
  <div class="row mt-md-4">
    <div class="col-md-4">
      <div class="mb-3">
        <%= link_to user_path(@post.user_id) do %>
          <%= attachment_image_tag @post.user, :profile_image, class:"profile_image", fallback: "no_image.jpg", size:'50x50', class: "rounded-circle" %>
          <%= @post.user.user_name %>
        <% end %>
      </div>
      <div class="mb-3"><%= attachment_image_tag @post, :image, class:"product_show_image" %></div>
      <div class="d-flex justify-content-around">
        <div class="row justify-content-center favorite-btn_<%= @post.id %>"><%= render "favorites/favorite-btn", post: @post %></div>
        <div class="comment_count row justify-content-center">コメント数：<%= @post.post_comments.count %>件</div>
      </div>
      <% if @post.user != current_user %>
        <div class="row justify-content-center mt-3">
          <div class="col-auto mx-auto">
            <div class="bookmark-btn_<%= @post.id %>"><%= render "bookmarks/bookmark-btn", post: @post %></div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-8">
      <table class="table">
        <tr>
          <td>＜商品ジャンル＞<br />
          <%= @post.genre %></td>
        </tr>
        <tr>
          <td>＜商品名＞<br />
          <%= @post.product_name %></td>
        </tr>
        <tr>
          <td>＜価格帯＞<br />
          <%= @post.price %></td>
        </tr>
        <tr>
          <td>＜選んだ理由＞<br />
          <%= @post.reason_for_selection %></td>
        </tr>
        <tr>
          <td>＜メリット＞<br />
          <%= @post.good_point %></td>
        </tr>
        <tr>
          <td>＜メリット＞<br />
          <%= @post.bad_point %></td>
        </tr>
        <tr>
          <td>＜補足情報＞<br />
          <%= @post.free_text %></td>
        </tr>
      </table>
      <div class="row">
        <div class="col-auto">
          <% if @post.user == current_user %>
            <%= link_to "編集する", edit_post_path(@post), class: 'btn btn-success' %>
          <% end %>
        </div>
        <div class="col-auto">
          <% if @post.user == current_user %>
            <%= link_to "削除する", post_path(@post), method: :delete, class: 'btn btn-danger'  %>
          <% end %>
        </div>
      </div>
      <div class="row mt-2 mb-5">
        <div id="error_message">
          <%= render 'post_comments/error', post_comment: @post_comment %>
        </div>
        <div class="new-comment">
          <%= form_with(model:[@post, @post_comment], remote: true) do |f| %>
            <%= f.text_area :comment, rows:'5',placeholder: "コメントはこちら", size: "90x3", class: "form-control" %>
            <%= f.submit "コメントを投稿する", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="comments_area">
    <%= render 'post_comments/index', post: @post_comments %>
  </div>
</div>
