<p>※このメールは自動送信メールです。</p>

<%= @resource.email %>様

<p>ベビトピ（baby_topics）です。</p>

<p>
  先ほどこちらのメールアドレスにてパスワードを変更するためのリンクが要求されました。<br>
  以下のリンクからパスワードの変更を行うことができます。
</p>

<p><%= link_to 'パスワードの変更はこちら', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>
  もしリクエストしていない場合は、このメールを無視してください。<br>
  上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。
</p>

<p>※このメールは返信しても届きません。お問い合わせはアプリを起動して「お問い合わせ」からお願いいたします。</p>

<p>
  覚えがないのにこのメールが届いたという方<br>
  ご迷惑をおかけし申し訳ありません。大変お手数ですが下記メールアドレスまでご連絡をお願いいたします。<br>
</p>
<p><%= ENV['TOMAIL'] %></p>

<p>――――――――――――――――――――――――――――――</p>
ベビトピ（baby_topics）<br>
URL ： <%= ENV['WEB_PROTOCOL'] %>://<%= ENV['WEB_HOST'] %><br>
Mail ： <%= ENV['TOMAIL'] %><br>
<p>――――――――――――――――――――――――――――――</p>
